.govuk-body {
    p {
        margin-top: 0;
        @include govuk-responsive-margin(4, 'bottom');

        a {
            @extend %govuk-link;
        }
    }
}

.govuk-heading-l,
.govuk-heading-m {
    a {
        color: inherit;
        text-decoration: inherit;
    }

    + .govuk-caption-m {
        @include govuk-responsive-margin(4, 'bottom');
        margin-top: unquote('-' + govuk-spacing(3));

        @include govuk-media-query($from: tablet) {
            margin-top: unquote('-' + govuk-spacing(4));
        }
    }
}

.govuk-caption-m {
    address {
        font-style: normal;
        display: inline-block;
    }
}
