{% extends "_layout.njk" %}
{% set pageTitle = "Content" %}
{% set app_pane_classes = "app-pane--enabled" %}

{% block content %}
    <div class="govuk-width-container app-pane__body">
        <div class="app-pane__subnav app-hide-mobile">
            {% include "components/_sub-navigation.njk" %}
        </div>
        <div class="app-pane__content">
            <div class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Content</h1>
                        <div class="govuk-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                <a href="#">euismod commodo</a>
                                consectetur. Nulla facilisi. Nam sed tortor mattis, tristique libero ac, mollis turpis. Nunc molestie velit id odio euismod, sed condimentum dui finibus. Donec auctor diam quis nulla faucibus, vel lacinia lacus sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Nullam et odio libero. Nunc id tortor convallis metus imperdiet elementum id et risus. Proin fringilla rhoncus semper.</p>
                            <p>Praesent elementum orci sit amet enim dignissim iaculis.
                                <strong>In cursus pellentesque</strong>
                                accumsan. Nunc maximus aliquam lacus, a vestibulum est ornare sed. Aenean quis pretium sem, at viverra velit. Suspendisse sit amet mollis velit. Sed laoreet sollicitudin lectus sit amet ornare. Nam ac justo interdum, hendrerit arcu at, cursus magna. Fusce quis massa metus. Integer nec augue ligula. Duis eleifend in odio sed pulvinar. Sed vel lacus justo. Nulla maximus tortor eget erat sollicitudin, nec cursus urna auctor. Donec odio nisi, mollis nec efficitur congue, condimentum volutpat magna. Pellentesque quis nisl a nisi porttitor vulputate non sit amet orci. Morbi a gravida ex. Ut mollis, magna eget interdum ultrices, magna mauris scelerisque sem, ac pretium arcu tortor eu massa.</p>
                            <table class="govuk-table">
                                <caption class="govuk-table__caption">Local businesses</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Name</th>
                                        <th scope="col" class="govuk-table__header">Address</th>
                                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Category</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">John Smith</th>
                                        <td class="govuk-table__cell">2 High Street</td>
                                        <td class="govuk-table__cell">Butcher</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Dough & Co</th>
                                        <td class="govuk-table__cell">14 Town Road</td>
                                        <td class="govuk-table__cell">Bakery</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Three Apples</th>
                                        <td class="govuk-table__cell">34 Market Square</td>
                                        <td class="govuk-table__cell">Greengrocer</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>Nam molestie nisl diam, et ullamcorper
                                <em>lacus faucibus</em>
                                euismod. Ut pharetra a dolor in vulputate. Vestibulum a dui risus. Duis non tortor sed justo consequat faucibus. Nam accumsan dolor ornare metus pellentesque commodo. Vivamus fermentum mollis erat, non condimentum arcu aliquam et. Duis imperdiet diam libero, eu vestibulum orci hendrerit sed. Vivamus a sagittis ex. Aliquam id mauris molestie felis mollis dapibus. In blandit euismod dapibus. Maecenas sollicitudin sodales elit in semper. Donec ac luctus eros. Donec finibus vulputate est ut porta. Mauris fermentum eros sit amet ligula lacinia suscipit. Suspendisse venenatis magna venenatis leo convallis tristique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}