{% extends "_layout.njk" %}
{% set pageTitle = "Home" %}

{% block content %}
    {% set masthead_title = "Let's free our town from single-use plastics" %}
    {% set masthead_description = "Together we can tackle the problem of avoidable singe-use plastics in our town, with the help of the council, local businesses and YOU!" %}
    {% include "components/_masthead.njk" %}
    <div class="govuk-width-container app-site-width-container">
        <div class="govuk-main-wrapper govuk-main-wrapper--l">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Reduce</h2>
                    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non posuere turpis dignissim egestas.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Reuse</h2>
                    <p class="govuk-body">Donec rhoncus dolor in diam mattis sollicitudin. Morbi sapien urna, aliquet id nisi nec, dignissim egestas massa.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Recycle</h2>
                    <p class="govuk-body">Donec arcu lectus, ultricies vitae lectus vitae, scelerisque ornare tortor. Phasellus condimentum ut risus et efficitur.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
                    </p>
                </div>

                <div class="govuk-grid-column-full">
                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
                </div>

                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l">Latest news</h2>
                    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-color-purple">
                        Lorem Impsum Dolor Sit Amet
                    </h3>
                    <div class="govuk-caption-m">
                        <span class="govuk-visually-hidden">Posted on:
                        </span>
                        <time datetime="2019-08-12 08:30:00">12 August 2019</time>
                    </div>
                    <img src="https://via.placeholder.com/620x413" alt=""/>
                    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non posuere turpis dignissim egestas.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Read more</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l">Upcoming event</h2>
                    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-color-purple">
                        Lorem Impsum Dolor Sit Amet
                    </h3>
                    <div class="govuk-caption-m">
                        <span class="govuk-visually-hidden">Event will be held on:
                        </span>
                        <time datetime="2019-08-12 08:30:00">21 September 2019 | 10:30 | Village Hall</time>
                    </div>
                    <img src="https://via.placeholder.com/620x413" alt=""/>
                    <p class="govuk-body">Donec rhoncus dolor in diam mattis sollicitudin. Morbi sapien urna, aliquet id nisi nec, dignissim egestas massa.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Read more</a>
                    </p>
                </div>

                <div class="govuk-grid-column-full">
                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
                </div>

                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Follow us</h2>

                    <div id="instafeed" data-user-id="8987997106" data-access-token="8987997106.924f677.8555ecbd52584f41b9b22ec1a16dafb9"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}