{% extends "_layout.njk" %}
{% set pageTitle = "Home" %}

{% block content %}
    {% set masthead_title = "Reduce" %}
    {% set masthead_description = "Reducing your use of single-use plastics is the best and most important way of minimising your impact on the Earth’s environment." %}
    {% include "components/_masthead.njk" %}
    <div class="govuk-width-container app-site-width-container">
        <div class="govuk-main-wrapper govuk-main-wrapper--l">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
                    <div class="govuk-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed turpis placerat commodo. Quisque pellentesque facilisis nunc, non cursus quam fringilla sit amet. Etiam sit amet tortor magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur placerat sem eu arcu iaculis venenatis. Vivamus lectus augue, blandit vitae metus a, fermentum rutrum massa. Donec vestibulum iaculis turpis rhoncus consectetur. Quisque maximus lacus nibh, sed placerat metus volutpat at. Donec in efficitur dolor. Aliquam interdum ex in elit sodales auctor. Vestibulum ex justo, tincidunt at eros et, elementum feugiat felis.
                        </p>
                        <p>
                            Ut neque leo, posuere in hendrerit sit amet, pretium vel leo. Suspendisse placerat risus id sapien luctus, at accumsan enim varius. Phasellus ac sapien fermentum, tempus ex in, interdum mauris. Sed sed mollis elit. Ut sit amet vehicula ipsum.
                        </p>
                    </div>
                </div>

                <div class="govuk-grid-column-full">
                    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
                </div>

                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Directory</h2>
                    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non posuere turpis dignissim egestas.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-color-purple">Tips</h2>
                    <p class="govuk-body">Donec rhoncus dolor in diam mattis sollicitudin. Morbi sapien urna, aliquet id nisi nec, dignissim egestas massa.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <a href="#" class="govuk-link govuk-!-font-weight-bold">Find out more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}