<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
    <div class="govuk-width-container app-site-width-container">
        <div class="govuk-footer__navigation">
            <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-heading-m">Related Resources</h2>
                <ul class="govuk-footer__list govuk-footer__list--columns-1">
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">
                            Lorem Ipsum
                        </a>
                    </li>
                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="#">
                            Dolor Sit Amet
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="govuk-footer__section-break">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">
                            Accessibility
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">
                            Sitemap
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">
                            Cookies
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#">
                            Privacy policy
                        </a>
                    </li>
                </ul>
                <span class="govuk-footer__licence-description">
                    Plastic Free Community is a community-run project
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a href="#" aria-label="Facebook">
                            <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-footer__social-logo" viewbox="0 0 512 512">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/facebook.svg" x="0" y="0" width="100%" height="100%"></image>
                            </svg>
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a href="#" aria-label="Instagram">
                            <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-footer__social-logo" viewbox="0 0 512 512">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/instagram.svg" x="0" y="0" width="100%" height="100%"></image>
                            </svg>
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a href="#" aria-label="Twitter">
                            <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-footer__social-logo" viewbox="0 0 512 512">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/twitter.svg" x="0" y="0" width="100%" height="100%"></image>
                            </svg>
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a href="#" aria-label="Pinterest">
                            <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-footer__social-logo" viewbox="0 0 512 512">
                                <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/pinterest.svg" x="0" y="0" width="100%" height="100%"></image>
                            </svg>
                        </a>
                    </li>
                </ul>
                Copyright © 2019 Plastic Free Community
            </div>
        </div>
    </div>
</footer>