<header class="app-header" role="banner">
    <div class="govuk-width-container">
        <a href="/" aria-label="Plastic Free Community homepage" class="govuk-link app-header__link">
            <span class="app-header__logotype">
                <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-header__logotype-logo" viewbox="0 0 1191 626">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/logo.svg" x="0" y="0" width="100%" height="100%"></image>
                </svg>
            </span>
        </a>
        <div class="app-site-search" data-module="app-search" data-search-index="/">
            <label class="govuk-visually-hidden" for="app-site-search__input">Search Plastic Free Community</label>
        </div>
        <div class="app-header-mobile-nav-toggler-wrapper">
            <button id="app-mobile-nav-toggler" class="govuk-button app-header-mobile-nav-toggler js-app-mobile-nav-toggler">
                Menu
            </button>
        </div>
    </div>
</header>