<header class="app-header" role="banner">
    <div class="govuk-width-container">
        <a href="/" aria-label="Plastic Free Community homepage" class="govuk-link app-header__link">
            <span class="app-header__logotype">
                <svg role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" class="app-header__logotype-logo" viewbox="0 0 1191 626">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/logo.svg" x="0" y="0" width="100%" height="100%"></image>
                </svg>
            </span>
        </a>
        <div class="app-site-search">
            <form role="search" method="get" action="/">
                <div class="app-site-search__wrapper" role="combobox" aria-expanded="false">
                    <input value="" name="input-autocomplete" aria-owns="app-site-search__input__listbox" autocomplete="off" class="app-site-search__input app-site-search__input--default" id="app-site-search__input" placeholder="Search Plastic Free Community" type="text" role="textbox">
                </div>
            </form>
        </div>
        <div class="app-header-mobile-nav-toggler-wrapper">
            <button id="app-mobile-nav-toggler" class="govuk-button app-header-mobile-nav-toggler js-app-mobile-nav-toggler">
                Menu
            </button>
        </div>
    </div>
</header>