<div class="app-masthead">
    <div class="govuk-width-container app-site-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl app-masthead__title">Let's free our town from single-use plastics</h1>
                <p class="app-masthead__description">Together we can tackle the problem of avoidable singe-use plastics in our town, with the help of the council, local businesses and YOU!</p>
            </div>
        </div>
    </div>
</div>