<nav id="app-mobile-nav" class="app-mobile-nav js-app-mobile-nav" role="navigation">
    <ul class="app-mobile-nav__list">
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">Reduce</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">Reduce overview</a>
                </li>
                <li>
                    <ul class="app-mobile-nav__theme-nav">
                        <li>
                            <a class="govuk-link" href="#">Directory</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#">Tips</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">Reuse</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">Reuse overview</a>
                </li>
                <li>
                    <ul class="app-mobile-nav__theme-nav">
                        <li>
                            <a class="govuk-link" href="#">Dolor Sit Amet</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">Recycle</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">Recycle overview</a>
                </li>
                <li>
                    <ul class="app-mobile-nav__theme-nav">
                        <li>
                            <a class="govuk-link" href="#">Lorem Ipsum</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">Events</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">Events overview</a>
                </li>
                <li>
                    <ul class="app-mobile-nav__theme-nav">
                        <li>
                            <a class="govuk-link" href="#">Lorem Ipsum</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">News</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">News overview</a>
                </li>
                <li>
                    <ul class="app-mobile-nav__theme-nav">
                        <li>
                            <a class="govuk-link" href="#">Dolor Sit Amet</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">About</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">About overview</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="govuk-link js-mobile-nav-subnav-toggler" href="#">Contact</a>
            <ul class="app-mobile-nav__subnav js-app-mobile-nav-subnav">
                <li>
                    <a class="govuk-link" href="#">Contact overview</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>