<nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list govuk-width-container">
        <li class="app-navigation--current-page">
            <a class="govuk-link" href="#" data-topnav="Reduce">Reduce</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="Reuse">Reuse</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="Recycle">Recycle</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="Recycle">Events</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="News">News</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="About">About</a>
        </li>
        <li>
            <a class="govuk-link" href="#" data-topnav="Contact">Contact</a>
        </li>
    </ul>
</nav>