<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        <li class="pagination__item">
            <a class="govuk-link pagination__link pagination__link--disabled" href="#" aria-label="Previous page">
                <span aria-hidden="true" role="presentation">&laquo;</span>
                Previous</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link" href="#" aria-label="Page 1">1</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link" href="#" aria-label="Page 2">2</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link pagination__link--current" href="#" aria-current="true" aria-label="Page 3, current page">3</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link" href="#" aria-label="Page 4">4</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link" href="#" aria-label="Page 5">5</a>
        </li>
        <li class="pagination__item">
            <a class="govuk-link pagination__link" href="#" aria-label="Next page">Next
                <span aria-hidden="true" role="presentation">&raquo;</span></a>
        </li>
    </ul>
</nav>