<nav class="app-subnav">
    <ul class="app-subnav__section">
        <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Lorem Ipsum</a>
        </li>
        <li class="app-subnav__section-item app-subnav__section-item--current">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Content</a>
        </li>
        <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Dolor Sit</a>
        </li>
        <li class="app-subnav__section-item">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Amet Tortor Mattis</a>
        </li>
    </ul>
</nav>