$govuk-page-width: 1100px !default;

@import 'govuk-frontend/settings/assets';

@import 'govuk-frontend/settings/compatibility';
@import 'govuk-frontend/settings/global-styles';

@import 'govuk-frontend/settings/media-queries';

@import 'govuk-frontend/settings/colours-palette';

$govuk-colours: map-merge(
    $govuk-colours,
    (
        'purple': #9e1f86,
        'light-blue': #0098cc,
        'blue': #007faa
    )
);

@import 'govuk-frontend/settings/colours-organisations';
@import 'govuk-frontend/settings/colours-applied';

$govuk-link-visited-colour: govuk-colour('blue');

@import 'govuk-frontend/settings/spacing';
@import 'govuk-frontend/settings/measurements';

@import 'govuk-frontend/settings/typography-font-families';

@import 'settings/fonts';

$govuk-font-family-nta: 'Roboto Condensed', Arial, sans-serif;

@import 'govuk-frontend/settings/typography-font';
@import 'govuk-frontend/settings/typography-responsive';

@import 'govuk-frontend/tools/all';
@import 'govuk-frontend/helpers/all';

@import 'govuk-frontend/core/links';
@import 'govuk-frontend/core/lists';
@import 'govuk-frontend/core/template';
@import 'govuk-frontend/core/typography';
@import 'govuk-frontend/core/section-break';
@import 'govuk-frontend/core/global-styles';

@import 'govuk-frontend/objects/form-group';
@import 'govuk-frontend/objects/grid';
@import 'govuk-frontend/objects/main-wrapper';
@import 'govuk-frontend/objects/width-container';

//@import 'govuk-frontend/components/accordion/accordion';
//@import 'govuk-frontend/components/back-link/back-link';
//@import 'govuk-frontend/components/breadcrumbs/breadcrumbs';
@import 'govuk-frontend/components/button/button';
@import 'govuk-frontend/components/checkboxes/checkboxes';
//@import 'govuk-frontend/components/character-count/character-count';
//@import 'govuk-frontend/components/summary-list/summary-list';
@import 'govuk-frontend/components/date-input/date-input';
//@import 'govuk-frontend/components/details/details';
@import 'govuk-frontend/components/error-message/error-message';
//@import 'govuk-frontend/components/error-summary/error-summary';
@import 'govuk-frontend/components/fieldset/fieldset';
//@import 'govuk-frontend/components/file-upload/file-upload';
@import 'govuk-frontend/components/footer/footer';
@import 'govuk-frontend/components/hint/hint';
@import 'govuk-frontend/components/header/header';
@import 'govuk-frontend/components/input/input';
//@import 'govuk-frontend/components/inset-text/inset-text';
@import 'govuk-frontend/components/label/label';
@import 'govuk-frontend/components/panel/panel';
//@import 'govuk-frontend/components/phase-banner/phase-banner';
//@import 'govuk-frontend/components/tabs/tabs';
//@import 'govuk-frontend/components/tag/tag';
@import 'govuk-frontend/components/radios/radios';
@import 'govuk-frontend/components/select/select';
@import 'govuk-frontend/components/skip-link/skip-link';
@import 'govuk-frontend/components/table/table';
@import 'govuk-frontend/components/textarea/textarea';
//@import 'govuk-frontend/components/warning-text/warning-text';

@import 'govuk-frontend/utilities/clearfix';
@import 'govuk-frontend/utilities/visually-hidden';

@import 'govuk-frontend/overrides/display';
@import 'govuk-frontend/overrides/spacing';
@import 'govuk-frontend/overrides/typography';
@import 'govuk-frontend/overrides/width';

@import 'components/header';
@import 'components/footer';
@import 'components/pane';
@import 'components/navigation';
@import 'components/mobile-navigation';
@import 'components/sub-navigation';
@import 'components/masthead';
@import 'components/site-search';
@import 'components/social-feed';
@import 'components/button';
@import 'components/error-message';
@import 'components/typography';
@import 'components/visibility';

@import 'overrides/typography';
